<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>26630686386-01r96k4m025s9rm0ktf523qnannt9suk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26630686386-01r96k4m025s9rm0ktf523qnannt9suk</string>
	<key>API_KEY</key>
	<string>AIzaSyApZyNqnK4cB-UgnwlRbRqLp-Wp5b60AA8</string>
	<key>GCM_SENDER_ID</key>
	<string>26630686386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.letschat.distribution</string>
	<key>PROJECT_ID</key>
	<string>letschat-f6ba4</string>
	<key>STORAGE_BUCKET</key>
	<string>letschat-f6ba4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:26630686386:ios:e7c5fb8387e3207f</string>
	<key>DATABASE_URL</key>
	<string>https://letschat-f6ba4.firebaseio.com</string>
</dict>
</plist>